*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

header, hgroup, nav, footer, figure, figcaption, aside, section, article, audio {
	display: block;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	/*font-size: 1.5em;*/
	font-family: Calibri, Verdana, sans-serif;
}

.content {
	padding: 1em;
	width: 80%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 1em;
	background: #ededed;
	border: 1px solid black;
	border-top: 0;		
}

.error {
	background-color: white;
	color: red;
	font-weight: bold;
	padding: 1em;
	border: solid 2px red;
}

h1 { 
/*	min-height: 150px;
	padding-left: 400px;
	background: url("sim-patient-logo.png") no-repeat left top;*/
	background-size: auto 150px;
	margin:0;
}

h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #445BA5;
}

img {
	width: auto;
	height: auto;
	border: 1px solid black;
}

textarea {
	resize: vertical;
}

.comment {
	color: black;
	margin: auto;
	margin-top: 0;
	margin-bottom: 1em;
	background-color: #d8d4d4;
	padding: 0.5em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	border: 1px solid black;
}

#login-form {
	color: green;
	width: 32em;
	margin: auto;
	margin-top: 0;
	margin-bottom: 1em;
	background-color: #d8d4d4;
	padding: 0.5em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	border: 3px solid #5b6ac5;
}

#login-form input, #login-form textarea {	
	border: 1px solid #5b6ac5;
}

#login-form input[type='submit'] {
	/*border: 1px solid #db4d4d;*/
}

.field-block
{
	display: block;
	width: auto;
	float: left;
	padding: 10px;
}

.error-span span {
	/*font-size: 0.7em;*/
	color: #db4d4d;
}

input[type='button'] {
	margin-top: 0.5em;
}

/*a:link {color: green; text-decoration: none;}
a:visited {color: green;}
a:hover {color: #db4d4d; text-decoration: underline;}
a:active {color: #5b6ac5;}*/

@media only screen and (max-width: 1400px) {
	img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 820px) {
	body {
		width: 90%;
		font-size: 1.2em;
	}

	h1 {
/*		min-height: 100px;
		padding: 0;
		padding-top: 100px;*/
		background-size: auto 100px;
	}
}

@media only screen and (max-width: 480px) {
	body {
		width: 90%;
		font-size: 1.1em;
	}

	h1 {
/*		min-height: 100px;
		padding: 0;
		padding-top: 100px;*/
		background-size: auto 100px;
	}
}

/*reduces the jQuery UI default huge font size*/
.ui-widget { font-size: 0.8em !important; }

.ui-widget-header,.ui-state-default, .ui-button{
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
         }

/*button styles*/
.green-button {
	margin-top: 3px;
	margin-right: 5px;
	background-color:#5cbf2a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #54944a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 0.9em;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #307824;
}
.green-button:hover {
	background-color:#18ab29;
	text-decoration: none;
}
.green-button:active {
	position:relative;
	top:1px;
}

.red-button {
	margin-top: 3px;
	margin-right: 5px;
	background-color:#fc5353;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 0.9em;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.red-button:hover {
	background-color:#fa2a2a;
	text-decoration: none;
}
.red-button:active {
	position:relative;
	top:1px;
}